* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    height: 94vh;
    background-image: url(../img/spy3.svg);
    background-repeat: no-repeat;
    background-color: #dee0a3;
 
}

.main-header {
    text-shadow: 1px 1px 2px red, 0 0 1em #b9233d, 0 0 0.2em red;
    color: #1d9efc;
}

.entry-label {
    color: red;
    text-decoration: blink;
    display: block;
    margin-bottom: 20px;
}

.container-1 {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.search-input {
    padding: 10px;
    border-radius: 6px;
    outline: 0;
}

.search-button {
    padding: 10px;
    border-radius: 20px;
    outline: 0;
}

.search-results {
    border-radius: 15px;
    height: 69vh;
    margin-top: 7vh;
    background: #ccc;
    border: 5px solid rgb(197, 197, 36);
    text-align: center;
}

.row-1 {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.col {
    margin-right: 7px;
    margin-left: 7px;
    display: block;
    width: 170px;
    height: 48vh;
    color: white;
    padding-bottom: 15px;
    border: 3px solid #141b35;
    border-radius: 3px;
    background: black;
    background-repeat: no-repeat;
    background-size: contain;
}

.result-header {
    height: 9vh;
    text-align: center;
    line-height: 1em;
    font-size: 100%;
    display: block;
    margin-top: 16vh;
    margin-bottom: 0;
    background-color: #082135;
    opacity: 0.9;
}

.link-to-YT {
    color: white;
}

.link-to-YT:hover {
  	color: #9edc0c;;
}

.paragraf-author {
    background-color: green;
    text-align: left;
    margin-bottom: 0;
    margin-top: .5vh;
    height: 5vh;
    overflow: hidden;
}

.paragraf-published {
    background-color: green;
    text-align: center;
    margin: 0;
}

.paragraf-views {
    text-align: right;
    margin: 0;
}

.paragraf-about {
    background-color: rgb(95, 158, 34);
    text-align: center;
    line-height: 1em;
    margin-top: .5vh;
    margin-bottom: 0;
    height: 10vh;
    overflow: hidden;
}

.tooltip {
    height: 12vh;
    width: 16vh;
    background-image: url(../img/tooltip.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 -6%;
    position: fixed;
    left: 50%;
    bottom: 5%;
    transform: scaleX(0);
    transition: transform .5s .5s, bottom .5s .5s;
    transition-timing-function: ease-in;
}

.animated-tooltip {
	  transform: scaleX(1);
	  bottom: 7.5%;;
}

/*bootstrap styles*/
.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eeeeee;
  border-color: #dddddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #ffffff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed;
}

